/* custom font */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* body */
body{
    max-width: 100%;

    
}

/* header styles */
header{
    background-image: url('../images/Banner\ Image.png');
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
     margin: 0 auto;
}
.header-part{
     width: 1320px;
      height: 600px;
  background-color: rgba(0, 0, 0, 0.404);
color: #FFFFFF;
 display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 16px;

}
.header-part h4{
    font-size: 32px;
    font-weight: 200;
   
}
.header-part h2{
    font-size: 72px;
    font-weight: bold;
}



/* main section starts here */


/* banner styles */
.banner{
    width: 1320px;

  text-align: center;
 
  margin: 120px auto;
}
.banner h2{
    color: red;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}
.banner h3{
    color:black;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
}
.banner h4{
    color: red;
font-size: 24px;
  font-weight: 400;
}

/* party section */

.party{
    width: 1320px;
    height: 600px;  
    background-image: url('../images/Vectorrr.png');
    color: white;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    margin: 120px auto;
}
.black-div{
    width: 1320px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.568);
    opacity: 0.9;
border-radius: 18px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
}

.black-div h2{
    font-size: 64px;
    margin-left: 128px;
}
.black-div p{
     margin-left: 128px;
     font-size: 18px;
     font-weight: 200;
}
.black-div h4{
     margin-left: 158px;
     font-size: 20px;
     font-weight: bold;
}


/* time section */
.time{
    width: 1320px;
    height: 486px;
    background:linear-gradient(#ff000031,#ffffff) ;
    border-radius: 8px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 400px;

}
.time .sub-time span{
    color: red;
}
.time .sub-time button{
   background-color: #FF0000;
   color: white;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 15px;
   border-radius:8px;
   border: none;
   margin-top:40px ;
}

/* offer styles */
.offers{
     width: 1320px;
    height: 486px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 0 auto;
}
.offers .offer{
    width: 392px;
}

.offers .offer h4{
    font-size: 24px;
    font-weight: 400;
    color: red;
}
.offers .offer h2{
    font-size: 40px;
    font-weight: 600;
}
.offers .offer p{
    font-size: 20px;
    color: #070211;
    font-weight: 200;
}

.offer .circle{
    width: 350x;
    height: 350px;
    border: 10px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer .circle img{
    width: 85%;
}

.offer  h3{
    color: red;
    font-size: 48px;
    font-weight: bold;
}
.offer .new-year{
    margin-top: 40px;
}


/* holiday section */
.holiday{
 width: 1320px;
  height: 985px;
  margin: 120px auto;

  background-image: url('../images/Group 75.png'),url('../images/Group 44.png'),url('../images/Rectangle 2.png');
  background-repeat: no-repeat;
  background-position: bottom left, center right, bottom right;
text-align: center;

}

.holiday .holiday-title{
    width: 1060px;
    margin: 0 auto;

}

.holiday .holiday-title h4{
    color: #070211;
    font-size: 24px;
    font-weight: 400;
}

.holiday .holiday-title h2{
    font-size: 72px;
    font-stretch: bold;
}
.holiday .holiday-title p{
    font-size: 20px;
    font-weight: 200;
    color: #070211;
}



/* our portfolio section */

.portfolio{
    width: 1320px;
    height: 1163px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 120px auto;
}
.portfolio-text{
    width: 50%;
}
.portfolio-text h4{
    font-size: 24px;
    font-weight: 200;
    color: red;
}
.portfolio-text h2{
    font-size: 48px;
    font-weight: 600;
    color: #070211;

}
.portfolio-text p{
    color: #070211;
    font-weight: 200;
    font-size: 20px;
}
.portfolio .product-images{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   
}

.portfolio .product-images img{
  width: 424px;
  height: 450px;
}


/* subscribe section styles */
.subscribe{
width: 1320px;
height: 600px;
 background-color:#ff00000a;
 border-radius: 8px;
    display: flex;
    flex-direction: column;
  gap: 50px;
    align-items: center;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
  margin: 0 auto;
}
.subscribe img{
    display: block;
    width: 10%;
}
.subscribe h2{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}
.subscribe p{
    color: #070211;
    font-size: 20px;
    font-weight: 200;
   
}

.subscribe .btn{
    width: 630px;
  border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.055);
}
.subscribe .btn input{
        width: 500px;
        background-color: white;
          padding: 14px 20px;
          border: none;
          border-radius:50px 0   0 50px;
          outline: none;
}
.subscribe .btn button{
     width: 130px;
    padding: 10px 20px;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
    font-weight: 200;
    color: white;
    background-color: #FF0000;
}


/* footer */

footer{
    background-color: #070211dc;
    width: 1320px;
    height: 610px;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  
   
}
footer hr{
    width: 80%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.308);
}

footer .content1{
    display: flex;
    gap: 500px;
    justify-content: space-around;
    text-align: start;
}
footer .content2{
    display: flex;
    gap: 50px;
}

footer .content3{
    display: flex;
    gap: 500px;
    justify-content: space-around;
    text-align: start;
}